<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="{{byline}}">
        <meta name="application-name" content="{{meta_appname}}">
        <meta name="keywords" content="{{meta_keywords}}">
        <meta name="description" content="{{META_DESC}}">
        
        <meta name="robots" content="index, follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover"> 
        <meta name="referrer" content="no-referrer">
        <meta name="theme-color" content="#FFFFFF">
        <link rel="stylesheet" href="/assets/main.css">
        
        <meta property="og:image" content="/assets/images/favicon.ico">
        <meta property="og:title" content="{{TITLE}} - {{byline}}">
        <meta property="og:site_name" content="{{byline}}'s Blog">
        <meta property="og:article:author" content="{{byline}}">
        <meta property="og:see_also" content="{{meta_baseurl}}">

        <link rel="alternate" type="application/rss+xml" title="{{byline}}'s Feed" href="/rss.xml">
        <link rel="shortcut icon" type="image/ico" size="16x16" href="/assets/images/favicon.ico">
        <link rel="shortcut icon" type="image/ico" size="192x192" href="/assets/images/favicon_192.ico">
        <link rel="shortcut icon" type="image/ico" size="512x512" href="/assets/images/favicon_512.ico">
        
        <title>{{TITLE}} - {{full_name}}</title>
    </head>
    <body id="{{BODYID}}">
        <nav>
            <a href="/index.html" id="home_link">Home</a>
            <a href="/blog.html" id="blog_link">Blog</a>
            <a href="/explore.html" id="explore_link">Explore</a>
            <a href="/rss.xml" id="rss_link">RSS</a>
            <a href="/archives.html" id="archives_link" rel="prefetch">Post Archives</a>
            <a href="/projects.html" id="projects_link">Projects</a>
            <a href="/disclaimers.html" id="disclaimers_link">Disclaimers</a>
        </nav>
        <main>
<!-- DIVIDER -->
        </main>
        <footer>
            <p>
                Follow me on <a href="{{twitter_url}}">Twitter</a>, <a href="{{insta_url}}">Instagram</a>, or subscribe to my <a href="/rss.xml">RSS</a> feed.
            </p>
            <p>
                © 2012-2020 {{full_name}}.
            </p>
            <p>
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>. See <a href="/disclaimers.html">disclaimers</a>.
            </p>
        </footer>
        <div id="lg"></div>
        <div id="rg"></div>
    </body>
    <link rel="manifest" href="/assets/manifest.json">
</html>