/*@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display: swap; }*/
a {
    text-decoration: none;
    color: #518341; }
a:hover {
    color: #C99199; }
article>p {
    margin: 25px 0; }
#big_table tr td {
    text-align: center;
    padding: 2%;
    font-size: 200%;
    line-height: 150%; }
#archives main article {
    margin: 10px 0; }
#fn1 {
    border-top: 1px dashed gray;
    margin-top: 50pt;
    padding-top: 25pt; }
footer p {
    margin: 0;
    text-align: center;
    font-size: 85%;
    line-height: 150%;
    color: #0F0F0F;
}
h1 {
    text-align: right;
    margin: 50px 0px;
    font-size: 28pt; }
h2 {
    font-size: 24pt; }
h3 {
    font-size: 20pt; }
h4 {
    font-size: 16pt; }
h5 {
    font-size: 14pt; }
h6 {
    font-size: 12pt; }
.headers span { 
    display: none; }
.headers:hover span{
    display: inline; }
#home section:first-of-type img {
    float: left;
    margin: 0em 1em 0em 0;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    border-top-left-radius: 10px;
    max-width: 40%; }
#home #home_link, 
#blog #blog_link, 
#projects #projects_link,
#postarchives #archives_link,
#archives #archives_link,
#disclaimers #disclaimers_link {
    text-decoration: underline; }
#home #rss_link, #home #archives_link,
#projects #rss_link, #projects #archives_link {
    display: none; }
hr {
    margin:50px auto;
    width:50%;
    border:0;
    border-bottom:1px dashed #ccc;
    background:#999;
}
html, body {
    margin: 0 1em;
    padding: 0; }
img {
    max-width: 90%;
    margin: 50px auto;
    display: block;
}
.image {
    text-align: center; }
.linkpost {
    color: #8AC178;
    text-decoration: underline; }
.linkpost:hover {
    color: #C97D88;
    cursor: pointer; }
main article>time {
    margin: -15px 0;
    text-align: center;
    font-size: 90%;
    display: block; }
nav a {
    margin: 0px 5%;
    white-space: nowrap; }
p a {
    text-decoration: underline; }
pre {
    background-color: #f0f0f0;
    padding: 2em 1em;
    border-radius: 2px;
    overflow: scroll; }
.shell:before {
    content: "$ "; }
.cmd:before {
    content: "> "; }
code {
    background-color: #f0f0f0;
    border-radius: 2px;
    padding: 1px;
    font-family: "Courier New";
}
#series_index {
    margin-top: 100px;
    padding-top: 2em;
    padding-bottom: 2em;
}
#series_index:before {
    content: "All articles in this series:";
}
#series_index p {
    margin: 0;
}

/* Media Queries */
/* iPhone XS */
/*@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {*/
@media screen and (max-width: 500px) {
    article {
        font-size: 90%;
    }
    body {
        margin: 0 1em;
    }
    #big_table tbody tr td {
        display: inline-block;
        width: 100%;
        text-align: center;
        margin: 1em 0;
    }
    #home section:first-of-type img {
        float: initial;
        margin: 0px auto
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        max-width: 95%;
    }
    footer p {
        font-size: 85%;
    }
    h2 {
        line-height: 200%;
    }
}